@charset "utf-8";
/* CSS Document */

html {
	box-sizing: border-box;
}
body {
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
    	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	word-spacing: 10px;
	font-family: Georgia;
	text-indent: -50px;
	font-size: 30px;
}
h1 {
    text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 10px;
	font-family: Impact,;
	text-indent: -45px;
	font-size: 35px;
}

.bg-white {
	background-color: #FFF;
	margin: 10px;
	padding: 5px;
}
.logo {
	font-size: 18px;
	font-weight: bold;
	margin: 22px;
	float: left;
	color: #27D2C1;
	text-shadow: 1px 1px 5px rgba(48, 48, 48, 0.26);
}
.header .ad-block {
	background-color: #F0F0F0;
	width: 60%;
	float: right;
	height: 50px;
	margin: 10px;
}
.left-sidebar .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	margin: 10px 10px 15px 10px;
}
.main-content .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	width: 30%;
	margin: 10px;
}
.right-sidebar .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	margin: 10px 10px 15px 10px;
}
.header {
	height: 80px;
}
.footer, .middle-left, .middle-right, .bottom-left-block, .bottom-middle-block, .bottom-right-block, .bottom-content {
	height: 60px;
}
.left-sidebar, .right-sidebar {
	height: 360px;
}
.main-content  {
	height: 200px;
}
.footer .copyright {
	color: #A5A5A5;
	text-align: center;
	margin: 16px;
}
@media (max-width:767px) {
.header {
	height: auto;
}
.logo {
	margin: 15px;
	float: none;
	text-align: center;
}
.header .ad-block {
	height: 50px;
	width: auto;
	margin: 10px;
	float: none;
}
.footer {
		height: auto;
}
.main-content .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	width: auto;
}
}
#data{
	background-color: white;
	font-size: 20px;
}

#d1{
	background-color: white;
	font-size:10px;
}
